#root {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 100%;
  gap: 52px;
  /*gap: 200px;*/
}

.TransparentContainer {
  background-color: #f4f6fb26;
  backdrop-filter: blur(4px);
}

/* Old #root
#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px;
  align-items: normal;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 25%;
}
*/

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover,
.NavLink:hover {
  filter: drop-shadow(0 0 8px #f4f6fb80);
  cursor: auto;
}

/*NavBar Styles*/

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-radius: 20px;
  height: fit-content;
}

.GameLogo {
  width: 120px;
}

.NavLink:hover {
  text-decoration: underline;
}

/*Start Menu*/

.StartMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 52px;
  margin: 0 25%;
  border-radius: 20px;
  gap: 32px;
}

.CTA {
  background-color: rgba(255, 255, 255, 0.1);
  border: #ffffff00 Solid 0;
}

/*Game Nav Bar Styles:
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}
*/

/*Game Screen Styles*/

/*Settings Styles*/

/*About Us Styles*/

.AboutUsComp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  gap: 32px;
}

.AboutTheGame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 52px;
  border-radius: 20px;
  gap: 20px;
}

.AboutTheGameHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}

.BackIcon {
  width: 32px;
}

.AboutTheGameHeader p {
  margin: 0;
  font-size: 20px;
}

.AboutTheGameBody {
  margin: 0;
  font-size: 20px;
}

.AboutTheGameBody strong {
  font-size: 36px;
}

.ToolsAndFrameworks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 52px;
  border-radius: 20px;
  gap: 20px;
}

.ToolsHeader {
  margin: 0;
  font-size: 20px;
}

.ToolsLogos {
  display: flex;
  align-items: center;
}

.ToolsLogos a {
  margin: 0;
}

.ToolLogo {
  height: 180;
}

.Contributers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 52px;
  border-radius: 20px;
  gap: 20px;
}
